<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PAHardwarePlugIn</string>
	<key>CFBundleIdentifier</key>
	<string>org.pulseaudio.PAHardwarePlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PAHardwarePlugIn</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>45F4645C-E875-4364-9296-95837C4B7291</key>
		<string>New_PAHP_PlugIn</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>F8BB1C28-BAE8-11D6-9C31-00039315CD46</key>
		<array>
			<string>45F4645C-E875-4364-9296-95837C4B7291</string>
		</array>
	</dict>
</dict>
</plist>
